# [color]
#     The value for these configuration variables is a list of colors
#     (at most two) and attributes (at most one), separated by spaces.
#     The colors accepted are:
#       normal, black, red, green, yellow, blue, magenta, cyan and white;
#     the attributes are:
#       bold, dim, ul, blink and reverse.
#
#     The first color given is the foreground; the second is the background.
#     The position of the attribute, if any, doesn't matter.

# filemode: Ensure executable bit of files in the working tree is to
# be honored.

[core]
    filemode = true
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitignore
    autocrlf = input
    pager = delta

[init]
    defaultBranch = main

[branch]
    autosetuprebase = always

[user]
    name = Sid-Ali Teir
    userconfigonly = true

[github]
    user = syedelec

[include]
    path = ~/.gitconfig.specific
    path = ~/.gitalias

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[credential]
    # store : Store credentials indefinitely on disk
    # cache : Cache credentials in memory for a short period of time
    helper = cache

[stash]
    showPatch = true

[pager]
    diff = delta
    show = delta
    log  = false
    branch = false

[advice]
    detachedHead = false

[url "git@github.com:"]
    insteadOf = https://github.com/

[delta]
    hyperlinks = false
    inspect-raw-lines = true
    keep-plus-minus-markers = false
    light = false
    line-numbers = false
    navigate = true
    navigate-regex = ^(added:|modified:|removed:|renamed:)
    pager = less --tabs=4 -RX
    paging = auto
    side-by-side = false
    syntax-theme = Nord
    true-color = always

    commit-style = "blue"
    commit-decoration-style = none

    file-added-label = added:
    file-copied-label = copied:
    file-modified-label = modified:
    file-removed-label = removed:
    file-renamed-label = renamed:

    blame-code-style = syntax
    blame-format = [{commit:>9}] {author:^21} {timestamp:<18}
    blame-palette = "#343B49"
    blame-separator-format = │{n:^5}│
    blame-separator-style = black #ffeeee
    blame-timestamp-output-format = %Y-%m-%d %H:%M

    file-style = "yellow"
    file-decoration-style = "yellow ul ol"

    hunk-header-decoration-style = "blue"
    hunk-header-style = "file line-number cyan"
    hunk-header-file-style = "blue"
    hunk-header-line-number-style = "blue"
    hunk-label = "@"

    line-numbers-left-format = "{nm:<3}•"
    line-numbers-left-style = black
    line-numbers-minus-style = red
    line-numbers-plus-style = green
    line-numbers-right-format = "{np:>3}  "
    line-numbers-right-style = white
    line-numbers-zero-style = grey

    minus-style = "red"
    minus-non-emph-style = "red"
    minus-emph-style = "white red"
    minus-empty-line-marker-style = "normal #3f0001"

    plus-style = "green"
    plus-non-emph-style = "green"
    plus-emph-style = "black green"
    plus-empty-line-marker-style = "normal #002800"

    whitespace-error-style = "reverse red"

[merge]
    conflictstyle = diff3

[diff]
    tool = vimdiff
    colorMoved = default

[difftool]
    prompt = false

[format]
    signoff = true

[help]
    autocorrect = 0

[push]
    default = matching

[fetch]
    prune = true
    pruneTags = true

[pull]
    rebase = true

[submodule]
    fetchJobs = 8

[color]
    branch = auto
    diff = always
    grep = always
    pager = true
    showbranch = always
    status = always
    ui = always

[color "branch"]
    current = "red"
    local = "white"
    plain = "white"
    remote  = "blue"

[color "decorate"]
    branch = "yellow ul"
    HEAD = "yellow ul"
    remoteBranch = "yellow"
    stash = "green"
    tag = "red"

[color "diff"]
    commit = "blue"
    frag = "blue"
    func = "cyan"
    meta = "yellow"
    new = "green"
    old = "red"
    plain = "white"
    whitespace = "red reverse"

[color "diff-highlight"]
    oldNormal = "red"
    oldHighlight = "white red"
    newNormal = "green"
    newHighlight = "black green"

[color "interactive"]
    error = "red"
    header = "blue"
    help = "white dim"
    prompt = "cyan"

[color "status"]
    added = "green"
    changed = "red"
    header = "white"
    nobranch = "magenta"
    unmerged = "blue"
    untracked = "white dim"
    updated = "green"

[gui]
    fontui = -family NotoSansRegular -size 11 -weight normal -slant roman -underline 0 -overstrike 0
    fontdiff = -family EnvyCodeR -size 10 -weight normal -slant roman -underline 0 -overstrike 0
