# path for plugins used by vim-bundles
nvim/.config/nvim/bundles/

# path for plugins used by dein
nvim/.config/nvim/plugins/

# path for plugins used by vim-plug
nvim/.config/nvim/plugged/

# path for autoloadplugins
nvim/.config/nvim/autoload/

# path for vim-plug *download more recent version*
nvim/.config/nvim/autoload/plug.vim

# path for cmus
cmus/.config/cmus/

# path to gtk bookmarks
gtk/.config/gtk-3.0/bookmarks

# path to sublime text
sublime-text/.config/sublime-text-3/Backup
sublime-text/.config/sublime-text-3/Cache
sublime-text/.config/sublime-text-3/Index
sublime-text/.config/sublime-text-3/Local
sublime-text/.config/sublime-text-3/Lib
sublime-text/.config/sublime-text-3/Log
sublime-text/.config/sublime-text-3/Packages
!sublime-text/.config/sublime-text-3/Packages/User
sublime-text/.config/sublime-text-3/Package Storage

# python cache __pycache__
__pycache__

# files
TODO
*.old
*.log

# mpd
mpd/.config/mpd/*

# fonts
fonts/.local/share/fonts/.uuid

