$include /etc/inputrc

# faster completion
set completion-ignore-case on
set show-all-if-ambiguous on
set mark-symlinked-directories on

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on

# Allow UTF-8 input and output.
set input-meta on
set output-meta on
set convert-meta on

set bell-style none
# set menu-complete-display-prefix on

# set colored-stats on
set colored-completion-prefix on

